.custom-header {
    background: #161616;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1rem;
  }
  
  .custom-hamburger {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .custom-header-title {
    flex-grow: 1;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .custom-header-global {
    display: flex;
    gap: 1rem;
  }
  
  .custom-header-action {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .custom-header-action:hover {
    opacity: 0.7;
  }



  .menu {
    display: inline-block;
    width: 24px;
}

.line {
    width: 100%;
    height: 2px;
    background-color: white;
    margin: 3px 0;
}
  