.content-switcher {
  display: flex;
  background-color: var(--content-switcher-bg, #f4f4f4);
  border-radius: var(--border-radius, 6px);
  //padding: 4px;
  width: fit-content;

  button {
    position: relative;
    overflow: hidden;
    border: none;
    background: transparent;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    color: #525252;
    transition: color 0.2s ease-in-out;
    z-index: 1;
    min-width: var(--button-width, auto);
    height: var(--button-height, 40px);

    &.active {
      color: white;
    }

    &:first-child {
      border-top-left-radius: var(--border-radius, 6px);
      border-bottom-left-radius: var(--border-radius, 6px);
    }

    &:last-child {
      border-top-right-radius: var(--border-radius, 6px);
      border-bottom-right-radius: var(--border-radius, 6px);
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    /* Sliding effect: Bottom to Top */
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      height: 100%;
      background: var(--selected-bg, #0f62fe);
      transition: top 0.15s ease-in-out;
      z-index: -1;
    }

    &.active::before {
      top: 0;
    }
  }
}
