<div class="modal-overlay" *ngIf="open">
    <div class="modal-container">
      <!-- Modal Header - Title and Close Button -->
      <div class="modal-header">
        <ng-content select="[modal-title]"></ng-content> <!-- Title comes from parent -->
        <ng-content select="[modal-close]"></ng-content> <!-- Close Button comes from parent -->
      </div>
  
      <!-- Modal Body -->
      <div class="modal-body">
        <ng-content></ng-content> <!-- Content projected from parent -->
      </div>
  
      <!-- Modal Footer -->
      <div class="modal-footer">
        <ng-content select="[modal-footer]"></ng-content> <!-- Footer comes from parent -->
      </div>
    </div>
  </div>
  