<div class="filter-container">
    <div *ngFor="let condition of conditions; let i = index" class="filter-row">
      <select [(ngModel)]="condition.field">
        <option *ngFor="let field of fields" [value]="field">{{ field }}</option>
      </select>
      
      <select [(ngModel)]="condition.operator">
        <option *ngFor="let operator of operators" [value]="operator">{{ operator }}</option>
      </select>
      
      <input *ngIf="condition.field === 'Timestamp'" type="date" [(ngModel)]="condition.value">
      <input *ngIf="condition.field !== 'Timestamp'" type="text" [(ngModel)]="condition.value">
      
      <button (click)="removeCondition(i)">X</button>
    </div>
  
    <button (click)="addCondition()">+ Add filter</button>
    <button (click)="applyFilter()">Apply filter</button>
  </div>
  