/* flow-diagram.component.css */
.diagram-item {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid #567567;
    background: #eee;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
  }
  