/* dynamic-div.component.css */

.table-container {
    overflow-x: auto; /* Add horizontal scrolling for the entire table */
    background-color: #fff; /* Set the background color for the container */
  }
  
  .header-container {
    background-color: #f0f0f0; /* Set the background color for the header */
  }
  
  .header {
    display: flex;
    font-weight: bold;
    padding: 8px;
  }
  
  .header-cell {
    flex: 1;
    padding: 8px;
  }
  
  .body-container {
    // overflow-x: auto; /* Add horizontal scrolling for the body */
  }
  
  .body {
    /* Styling for the body remains the same */
  }
  
  .row {
    display: flex;
    border-bottom: 1px solid #ddd;
  }
  
  .cell {
    flex: 1;
    padding: 8px;
  }
  