<div class="file-upload-container">
  <h3>Upload File</h3>
  <div class="upload-box" (click)="fileInput.click()">
    <input
      type="file"
      #fileInput
      (change)="onFileSelected($event)"
      accept=".jpg, .jpeg, .png, .svg"
      style="display: none"
    />
    <div class="upload-icon">
      <svg
      width="50px"
      height="50px"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M6 12L12 6L18 12M12 6V18"
        stroke="#00AAFF"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M5 19H19"
        stroke="#00AAFF"
        stroke-width="2"
        stroke-linecap="round"
      />
    </svg>
    </div>
    <p>Click To Upload</p>
  </div>

  <div class="uploaded-documents" *ngIf="uploadedFile">
    <h4>Uploaded Document</h4>
    <ul>
      <li>
        <span [ngClass]="getFileTypeClass(uploadedFile.name)">
          {{ getFileType(uploadedFile.name) }}
        </span>
        <span>{{ uploadedFile.name }}</span>
        <button class="delete-btn" (click)="removeFile()">✖</button>
      </li>
    </ul>
    
    <!-- Preview for Image or SVG -->
    <div *ngIf="isImage(uploadedFile)">
      <img [src]="filePreview" alt="File Preview" class="file-preview" />
    </div>
  </div>

  <!-- Submit Button -->
  <button class="submit-btn" (click)="submitFile()">Submit</button>
</div>
