.tooltip-wrapper {
  position: relative; /* Position relative to allow the tooltip to be placed correctly */
  display: inline-block; /* Make it inline-block so we can apply the positioning */
}

.tooltip-box {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s ease-in-out;
  z-index: 9999;
}

.tooltip-top {
  transform: translateY(-5px);
}

.tooltip-bottom {
  transform: translateY(5px);
}

.tooltip-left {
  transform: translateX(-5px);
}

.tooltip-right {
  transform: translateX(5px);
}
