.toggle-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
}

.toggle-label {
  font-size: 14px;
  margin-right: 10px;
}

.toggle-switch {
  position: relative;
  border-radius: 50px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.toggle-knob {
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: 50%;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.toggle-text {
  font-size: 14px;
  margin-left: 10px;
  color: #333;
}
