<div class="toggle-container" (click)="onToggleChange()">
  <label class="toggle-label">{{ label }}</label>

  <div class="toggle-switch"
       [ngStyle]="{
         'background-color': checked ? toggleSwitchBgColor : '#e0e0e0',
         'width': toggleSwitchWidth,
         'height': toggleSwitchHeight,
         'border': '2px solid ' + toggleOutlineColor
       }">

    <div class="toggle-knob"
         [ngStyle]="{
           'background-color': toggleKnobBgColor,
           'width': toggleKnobWidth,
           'height': toggleKnobHeight,
           'transform': checked ? 'translateX(calc(' + toggleSwitchWidth + ' - ' + toggleKnobWidth + '))' : 'translateX(2px)'
         }">
    </div>

  </div>

  <span class="toggle-text">{{ checked ? onText : offText }}</span>
</div>
