.breadcrumb-item {
    display: inline;
    font-size: 14px;
  }
  
  .breadcrumb-item a {
    color: #0078d4;
    text-decoration: none;
  }
  
  .breadcrumb-item.active {
    font-weight: bold;
    color: #0062ff;
  }
  
  .breadcrumb-item span {
    color: #6a6a6a;
  }
  