.pagination-container {
  display: flex;
  gap: 5px;
  align-items: center;
  position: relative;
}

button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: white;
}

button.active {
  background-color: teal;
  color: white;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.dots {
  background-color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.dots-container {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  padding: 5px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  max-height: 200px; /* Scroll */
  overflow-y: auto;
}

.dropdown button {
  background: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.dropdown button:hover {
  background-color: lightgray;
}
