/* Parent Component Styles */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: #333;
    color: white;
    transform: translateX(-100%); /* Start hidden off-screen */
    transition: transform 0.3s ease; /* Smooth transition */
  
    &.open {
      transform: translateX(0); /* Slide into view */
    }
  }


.hamburger-css {
    display: inline-block;
    cursor: pointer;
}

.bar {
    width: 15px;
    height: 1px;
    background-color: black;
    margin: 6px 0;
}



.hamburger-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

/* Animate lines into an "X" */
.hamburger-btn.active .top {
  transform: translateY(20px) rotate(45deg);
}

.hamburger-btn.active .middle {
  opacity: 0;
}

.hamburger-btn.active .bottom {
  transform: translateY(-20px) rotate(-45deg);
}

/* Smooth transition */
.line {
  transition: transform 0.3s ease, opacity 0.3s ease;
}




  