<div>
  <h1>Tree View Example</h1>
  <!-- <app-tree-view [data]="jsonData" [depthLimit]="15"></app-tree-view> -->
  <!-- <json-tree [data]="jsonData"></json-tree> -->
  <!-- example.component.html -->
<!-- <app-dynamic-table [headers]="tableHeaders" [data]="tableData"></app-dynamic-table> -->

<!-- <app-flow-diagram></app-flow-diagram> -->
 <!-- <app-custom-tooltip text="This is a very long string that will be truncated with an ellipsis if it overflows the container."></app-custom-tooltip>
 <app-nrx-graph-example></app-nrx-graph-example> -->
 <app-filter></app-filter>

 <!-- app.component.html -->
<button (click)="openModal()">Open Modal</button>

<app-modal [isVisible]="isModalVisible" title="My Modal Title">
  <p>This is the content of the modal.</p>
</app-modal>


</div>
