<div>
  <h1>Tree View Example</h1>
  <!-- <app-tree-view [data]="jsonData" [depthLimit]="15"></app-tree-view> -->
  <!-- <json-tree [data]="jsonData"></json-tree> -->
  <!-- example.component.html -->
<!-- <app-dynamic-table [headers]="tableHeaders" [data]="tableData"></app-dynamic-table> -->

<!-- <app-flow-diagram></app-flow-diagram> -->
 <!-- <app-custom-tooltip text="This is a very long string that will be truncated with an ellipsis if it overflows the container."></app-custom-tooltip>
 <app-nrx-graph-example></app-nrx-graph-example> -->
 <!-- <app-filter></app-filter> -->

 <!-- app.component.html -->
<!-- <button (click)="openModal()">Open Modal</button>

<app-modal [isVisible]="isModalVisible" title="My Modal Title">
  <p>This is the content of the modal.</p>
</app-modal>
<app-table></app-table> -->

<!-- <app-dynamic-css></app-dynamic-css> -->
 <!-- <app-global-css></app-global-css> -->
<!-- <app-file-upload></app-file-upload>
<app-color-picker></app-color-picker>
<app-custom-form></app-custom-form> -->

<!-- Horizontal Tabs (Default) -->
<!-- <ibm-tabs>
  <ibm-tab heading="Tab 1">
    <ng-template>
      <p>Content for Tab 1</p>
    </ng-template>
  </ibm-tab>
  <ibm-tab heading="Tab 2">
    <ng-template>
      <p>Content for Tab 2</p>
    </ng-template>
  </ibm-tab>
</ibm-tabs> -->

<!-- Vertical Tabs -->
<!-- <ibm-tabs orientation="vertical">
  <ibm-tab heading="Tab A">
    <ng-template>
      <p>Content for Tab A</p>
    </ng-template>
  </ibm-tab>
  <ibm-tab heading="Tab B">
    <ng-template>
      <p>Content for Tab B</p>
    </ng-template>
  </ibm-tab>
</ibm-tabs> -->


<!-- <app-tabs orientation="horizontal">
  <app-tab title="Tab 1">Content for Tab 1</app-tab>
  <app-tab title="Tab 2">Content for Tab 2</app-tab>
  <app-tab title="Tab 3">Content for Tab 3</app-tab>
</app-tabs>

<app-tabs orientation="vertical">
  <app-tab title="Vertical Tab 1">Content for Vertical Tab 1</app-tab>
  <app-tab title="Vertical Tab 2">Content for Vertical Tab 2</app-tab>
</app-tabs>


<app-tabs>
  <app-tab title="Tab 1">Content for Tab 1</app-tab>
  <app-tab title="Tab 2">Content for Tab 2</app-tab>
</app-tabs> -->

<!-- tabindex: Determines the keyboard navigation focus order.
active: Dynamically updates the selected tab. -->


<!-- <app-tabs orientation="horizontal" (selected)="onTabSelect($event)">
  <app-tab
    id="test"
    heading="Test"
    [tabindex]="0"
    (selected)="onTabSelect('test')"
    [active]="'test' === selectedTab"
  >
    Content for Tab 1
  </app-tab>

  <app-tab
    id="test1"
    heading="Test 1"
    [tabindex]="1"
    (selected)="onTabSelect('test1')"
    [active]="'test1' === selectedTab"
  >
    Content for Tab 2
  </app-tab>
</app-tabs> -->


<!-- <app-tabs orientation="horizontal" (selected)="onTabSelect($event)">
  <app-tab
    id="test"
    heading="Tab 1"
    [tabindex]="0"
    [active]="selectedTab === 'test'"
  ></app-tab>

  <app-tab
    id="test1"
    heading="Tab 2"
    [tabindex]="1"
    [active]="selectedTab === 'test1'"
  ></app-tab>
</app-tabs>

<div class="tab-content">
  <app-tab1-content *ngIf="selectedTab === 'test'"></app-tab1-content>
  <app-tab2-content *ngIf="selectedTab === 'test1'"></app-tab2-content>
</div> -->

<!-- <button (click)="toggleLoading()">Toggle Loading</button> -->

<!-- Loader with default properties -->
<!-- <app-custom-loading [isActive]="loading"></app-custom-loading> -->

<!-- Loader with custom height, width, color, and borderWidth -->
<!-- <app-custom-loading
  [isActive]="loading"
  [height]="'64px'"
  [width]="'64px'"
  [color]="'#ff5733'"
  [borderWidth]="'8px'"
></app-custom-loading> -->

<!-- Loader with smaller size, thin border, and green color -->
<!-- <app-custom-loading
  [isActive]="loading"
  [height]="'36px'"
  [width]="'36px'"
  [color]="'#00ff00'"
  [borderWidth]="'2px'"
></app-custom-loading> -->

<!-- Example 1   -->
<!-- <app-breadcrumb [noTrailingSlash]="true">
  <app-breadcrumb-item href="#" [text]="'Home'"></app-breadcrumb-item>
  <app-breadcrumb-item href="#" [text]="'Category'"></app-breadcrumb-item>
  <app-breadcrumb-item href="#" [text]="'Subcategory'" [isActive]="true"></app-breadcrumb-item>
  <app-breadcrumb-item [text]="'Item'" [isCurrent]="true"></app-breadcrumb-item>
</app-breadcrumb> -->

<app-breadcrumb [noTrailingSlash]="true">
  <app-breadcrumb-item href="/home" [text]="'Home'"></app-breadcrumb-item>
  <app-breadcrumb-item href="/Category" [text]="'Category'"></app-breadcrumb-item>
  <app-breadcrumb-item href="/Subcategory" [text]="'Subcategory'" [isActive]="true"></app-breadcrumb-item>
  <app-breadcrumb-item [href]="''" [text]="'Item'" [isCurrent]="true"></app-breadcrumb-item>
</app-breadcrumb>






