<div>
  <h1>Tree View Example</h1>
  <!-- <app-tree-view [data]="jsonData" [depthLimit]="15"></app-tree-view> -->
  <!-- <json-tree [data]="jsonData"></json-tree> -->
  <!-- example.component.html -->
<!-- <app-dynamic-table [headers]="tableHeaders" [data]="tableData"></app-dynamic-table> -->

<!-- <app-flow-diagram></app-flow-diagram> -->
 <!-- <app-custom-tooltip text="This is a very long string that will be truncated with an ellipsis if it overflows the container."></app-custom-tooltip>
 <app-nrx-graph-example></app-nrx-graph-example> -->
 <!-- <app-filter></app-filter> -->

 <!-- app.component.html -->
<!-- <button (click)="openModal()">Open Modal</button>

<app-modal [isVisible]="isModalVisible" title="My Modal Title">
  <p>This is the content of the modal.</p>
</app-modal>
<app-table></app-table> -->

<!-- <app-dynamic-css></app-dynamic-css> -->
 <!-- <app-global-css></app-global-css> -->
<!-- <app-file-upload></app-file-upload>
<app-color-picker></app-color-picker>
<app-custom-form></app-custom-form> -->

<!-- Horizontal Tabs (Default) -->
<!-- <ibm-tabs>
  <ibm-tab heading="Tab 1">
    <ng-template>
      <p>Content for Tab 1</p>
    </ng-template>
  </ibm-tab>
  <ibm-tab heading="Tab 2">
    <ng-template>
      <p>Content for Tab 2</p>
    </ng-template>
  </ibm-tab>
</ibm-tabs> -->

<!-- Vertical Tabs -->
<!-- <ibm-tabs orientation="vertical">
  <ibm-tab heading="Tab A">
    <ng-template>
      <p>Content for Tab A</p>
    </ng-template>
  </ibm-tab>
  <ibm-tab heading="Tab B">
    <ng-template>
      <p>Content for Tab B</p>
    </ng-template>
  </ibm-tab>
</ibm-tabs> -->


<!-- <app-tabs orientation="horizontal">
  <app-tab title="Tab 1">Content for Tab 1</app-tab>
  <app-tab title="Tab 2">Content for Tab 2</app-tab>
  <app-tab title="Tab 3">Content for Tab 3</app-tab>
</app-tabs>

<app-tabs orientation="vertical">
  <app-tab title="Vertical Tab 1">Content for Vertical Tab 1</app-tab>
  <app-tab title="Vertical Tab 2">Content for Vertical Tab 2</app-tab>
</app-tabs>


<app-tabs>
  <app-tab title="Tab 1">Content for Tab 1</app-tab>
  <app-tab title="Tab 2">Content for Tab 2</app-tab>
</app-tabs> -->

<!-- tabindex: Determines the keyboard navigation focus order.
active: Dynamically updates the selected tab. -->


<!-- <app-tabs orientation="horizontal" (selected)="onTabSelect($event)">
  <app-tab
    id="test"
    heading="Test"
    [tabindex]="0"
    (selected)="onTabSelect('test')"
    [active]="'test' === selectedTab"
  >
    Content for Tab 1
  </app-tab>

  <app-tab
    id="test1"
    heading="Test 1"
    [tabindex]="1"
    (selected)="onTabSelect('test1')"
    [active]="'test1' === selectedTab"
  >
    Content for Tab 2
  </app-tab>
</app-tabs> -->


<!-- <app-tabs orientation="horizontal" (selected)="onTabSelect($event)">
  <app-tab
    id="test"
    heading="Tab 1"
    [tabindex]="0"
    [active]="selectedTab === 'test'"
  ></app-tab>

  <app-tab
    id="test1"
    heading="Tab 2"
    [tabindex]="1"
    [active]="selectedTab === 'test1'"
  ></app-tab>
</app-tabs>

<div class="tab-content">
  <app-tab1-content *ngIf="selectedTab === 'test'"></app-tab1-content>
  <app-tab2-content *ngIf="selectedTab === 'test1'"></app-tab2-content>
</div> -->

<!-- <button (click)="toggleLoading()">Toggle Loading</button> -->

<!-- Loader with default properties -->
<!-- <app-custom-loading [isActive]="loading"></app-custom-loading> -->

<!-- Loader with custom height, width, color, and borderWidth -->
<!-- <app-custom-loading
  [isActive]="loading"
  [height]="'64px'"
  [width]="'64px'"
  [color]="'#ff5733'"
  [borderWidth]="'8px'"
></app-custom-loading> -->

<!-- Loader with smaller size, thin border, and green color -->
<!-- <app-custom-loading
  [isActive]="loading"
  [height]="'36px'"
  [width]="'36px'"
  [color]="'#00ff00'"
  [borderWidth]="'2px'"
></app-custom-loading> -->

<!-- Example 1   -->
<!-- <app-breadcrumb [noTrailingSlash]="true">
  <app-breadcrumb-item href="#" [text]="'Home'"></app-breadcrumb-item>
  <app-breadcrumb-item href="#" [text]="'Category'"></app-breadcrumb-item>
  <app-breadcrumb-item href="#" [text]="'Subcategory'" [isActive]="true"></app-breadcrumb-item>
  <app-breadcrumb-item [text]="'Item'" [isCurrent]="true"></app-breadcrumb-item>
</app-breadcrumb> -->

<!-- Example 2-->
<!-- <app-breadcrumb [noTrailingSlash]="true">
  <app-breadcrumb-item href="/home" [text]="'Home'"></app-breadcrumb-item>
  <app-breadcrumb-item href="/Category" [text]="'Category'"></app-breadcrumb-item>
  <app-breadcrumb-item href="/Subcategory" [text]="'Subcategory'" [isActive]="true"></app-breadcrumb-item>
  <app-breadcrumb-item [href]="''" [text]="'Item'" [isCurrent]="true"></app-breadcrumb-item>
</app-breadcrumb> -->

<!-- <app-breadcrumb [noTrailingSlash]="true">
  <app-breadcrumb-item href="/home">Home</app-breadcrumb-item>
  <app-breadcrumb-item href="/Category">Category</app-breadcrumb-item>
  <app-breadcrumb-item href="/Subcategory" [isActive]="true">Subcategory</app-breadcrumb-item>
  <app-breadcrumb-item [href]="null" [isCurrent]="true">Item</app-breadcrumb-item>
</app-breadcrumb> -->


<!-- <app-breadcrumb [noTrailingSlash]="true">
  <app-breadcrumb-item href="/home">Home</app-breadcrumb-item>
  <app-breadcrumb-item href="/Category">Category</app-breadcrumb-item>
  <app-breadcrumb-item href="/Subcategory" [isActive]="true">Subcategory</app-breadcrumb-item>
  <app-breadcrumb-item [href]="''" [isCurrent]="true">Item</app-breadcrumb-item>
</app-breadcrumb> -->


<!-- <app-breadcrumb [noTrailingSlash]="true">
  <app-breadcrumb-item href="/home" [text]="'Home'"></app-breadcrumb-item>
  <app-breadcrumb-item href="/Category" [text]="'Category'"></app-breadcrumb-item>
  <app-breadcrumb-item href="/Subcategory" [text]="'Subcategory'" [isActive]="true"></app-breadcrumb-item>
  <app-breadcrumb-item [href]="''" [text]="'Item'" [isCurrent]="true"></app-breadcrumb-item>
</app-breadcrumb> -->

<!-- Example 3  -->
<!-- <app-breadcrumb>
  <app-breadcrumb-item href="/home" [text]="'Home'"></app-breadcrumb-item>
  <app-breadcrumb-item [text]="'Home'" (itemClick)="onBreadcrumbClick($event)"></app-breadcrumb-item>

  <app-breadcrumb-item href="/Category" [text]="'Category'"></app-breadcrumb-item>
  <app-breadcrumb-item [text]="'Category'" (itemClick)="onBreadcrumbClick($event)"></app-breadcrumb-item>

  <app-breadcrumb-item href="/Subcategory" [text]="'Subcategory'" [isActive]="true"></app-breadcrumb-item>
  <app-breadcrumb-item [text]="'Subcategory'" (itemClick)="onBreadcrumbClick($event)" [isActive]="true"></app-breadcrumb-item>

  <app-breadcrumb-item [text]="'Item'" [isCurrent]="true"></app-breadcrumb-item>
</app-breadcrumb> -->



<!-- <app-breadcrumb>
  <app-breadcrumb-item href="/home" [text]="'Home'"></app-breadcrumb-item>
  <app-breadcrumb-item [text]="'Home'" [isClickable]="true" (itemClick)="onBreadcrumbClick()"></app-breadcrumb-item>
  <app-breadcrumb-item [text]="'Home'"></app-breadcrumb-item>
  <app-breadcrumb-item href="/category" [text]="'Category'"></app-breadcrumb-item>
  <app-breadcrumb-item [text]="'Category'" [isClickable]="true" (itemClick)="onBreadcrumbClick()"></app-breadcrumb-item>
  <app-breadcrumb-item [text]="'Item'" [isCurrent]="true"></app-breadcrumb-item>
</app-breadcrumb> -->


<!-- <app-breadcrumb>
  <app-breadcrumb-item href="/home" [text]="'Home'"></app-breadcrumb-item>
  <app-breadcrumb-item [text]="'Category'" [isClickable]="true" (itemClick)="onBreadcrumbClick()"></app-breadcrumb-item>
  <app-breadcrumb-item [text]="'Subcategory'" [isClickable]="true" (itemClick)="onBreadcrumbClick()"></app-breadcrumb-item>
  <app-breadcrumb-item [text]="'Item'" [isCurrent]="true"></app-breadcrumb-item>
</app-breadcrumb> -->

<!-- Example 4  -->
<!-- <app-breadcrumb>
  <app-breadcrumb-item [text]="'Home'" (itemClick)="onBreadcrumbItemClick($event)"></app-breadcrumb-item>
  <app-breadcrumb-item href="/Category" [text]="'Category'" (itemClick)="onBreadcrumbItemClick($event)"></app-breadcrumb-item>
  <app-breadcrumb-item href="/Subcategory" [text]="'Subcategory'" (itemClick)="onBreadcrumbItemClick($event)"></app-breadcrumb-item>
  <app-breadcrumb-item [text]="'Item'" [isCurrent]="true" (itemClick)="onBreadcrumbItemClick($event)"></app-breadcrumb-item>
</app-breadcrumb> -->

<!-- Example 5  -->
<!-- <app-breadcrumb>
  <app-breadcrumb-item label="Home" href="#" (itemClick)="onBreadcrumbClick('Home')"></app-breadcrumb-item>
  <app-breadcrumb-item label="Category" href="#" (itemClick)="onBreadcrumbClick('Category')"></app-breadcrumb-item>
  <app-breadcrumb-item label="Subcategory" href="#" (itemClick)="onBreadcrumbClick('Subcategory')"></app-breadcrumb-item>
  <app-breadcrumb-item label="Current Page" href="#" (itemClick)="onBreadcrumbClick('Current Page')"></app-breadcrumb-item>
</app-breadcrumb> -->

<!-- Example 6 -->
<!-- <app-breadcrumb [noTrailingSlash]="true">
  <app-breadcrumb-item label="Home" href="#" (itemClick)="onBreadcrumbClick('Home')"></app-breadcrumb-item>
  <app-breadcrumb-item label="Category" href="#" (itemClick)="onBreadcrumbClick('Category')"></app-breadcrumb-item>
  <app-breadcrumb-item label="Subcategory" href="#" (itemClick)="onBreadcrumbClick('Subcategory')"></app-breadcrumb-item>
  <app-breadcrumb-item label="Current Page" href="#" (itemClick)="onBreadcrumbClick('Current Page')"></app-breadcrumb-item>
</app-breadcrumb> -->


<!-- <app-breadcrumb [noTrailingSlash]="true">
  <app-breadcrumb-item label="Home" href="#" (itemClick)="onBreadcrumbClick('Home')"></app-breadcrumb-item>
  <app-breadcrumb-item label="Category" href="#" (itemClick)="onBreadcrumbClick('Category')"></app-breadcrumb-item>
  <app-breadcrumb-item label="Subcategory" href="#" (itemClick)="onBreadcrumbClick('Subcategory')"></app-breadcrumb-item>
  <app-breadcrumb-item label="Current Page" href="#" (itemClick)="onBreadcrumbClick('Current Page')"></app-breadcrumb-item>
</app-breadcrumb> -->

<!-- Example 1  -->
<!-- <app-custom-table [data]="customRableData" [headers]="customTableHeaders"></app-custom-table> -->

<!-- Example 3  -->
<!-- <app-custom-table [headers]="headers" [rows]="rows"></app-custom-table> -->


<!-- <app-custom-table [headers]="headers" [rows]="rows"></app-custom-table>



<app-custom-table [headers]="['ID', 'Name', 'Age']" 
                  [rows]="[{ id: 1, name: 'John Doe', age: 28 }, { id: 2, name: 'Jane Smith', age: 34 }]">
</app-custom-table>

<app-custom-table [headers]="['Product Name', 'Price', 'Stock']" 
                  [rows]="[{ productName: 'Laptop', price: 1000, stock: 20 }, { productName: 'Phone', price: 500, stock: 50 }]">
</app-custom-table> -->



<!-- Example 4 -->
<!-- <app-custom-tooltip [tooltipContent]="'This is a custom tooltip'"
                    [placement]="'bottom'"
                    [trigger]="'hover'"
                    [offset]="{ x: 10, y: 10 }">
  <div>Hover over me</div>
</app-custom-tooltip> -->

<!-- Example 5  -->
<!-- <button appCustomTooltip 
        tooltipText="Tooltip on Top"
        placement="top">
  Hover over me (Top)
</button>

<button appCustomTooltip 
        tooltipText="Tooltip on Left"
        placement="left">
  Hover over me (Left)
</button>

<button appCustomTooltip 
        tooltipText="Tooltip on Bottom"
        placement="bottom">
  Hover over me (Bottom)
</button>

<button appCustomTooltip 
        tooltipText="Tooltip on Right"
        placement="right">
  Hover over me (Right)
</button> -->


<!-- Example 7   -->
<!-- <app-custom-tooltip tooltipText="This is a tooltip on Top" placement="top">
  <button class="btn btn-primary">Hover over me (Top)</button>
</app-custom-tooltip>

<app-custom-tooltip tooltipText="This is a tooltip on Left" placement="left">
  <button class="btn btn-secondary">Hover over me (Left)</button>
</app-custom-tooltip>

<app-custom-tooltip tooltipText="This is a tooltip on Bottom" placement="bottom">
  <button class="btn btn-success">Hover over me (Bottom)</button>
</app-custom-tooltip>

<app-custom-tooltip tooltipText="This is a tooltip on Right" placement="right">
  <button class="btn btn-danger">Hover over me (Right)</button>
</app-custom-tooltip> -->

<!-- Example 8 -->
<!-- <app-custom-tooltip tooltipText="This is a tooltip on Top" placement="top">
  <button class="btn btn-primary">Hover over me (Top)</button>
</app-custom-tooltip>

<app-custom-tooltip tooltipText="This is a tooltip on Left" placement="left">
  <button class="btn btn-secondary">Hover over me (Left)</button>
</app-custom-tooltip>

<app-custom-tooltip tooltipText="This is a tooltip on Bottom" placement="bottom">
  <button class="btn btn-success">Hover over me (Bottom)</button>
</app-custom-tooltip>

<app-custom-tooltip tooltipText="This is a tooltip on Right" placement="right">
  <button class="btn btn-danger">Hover over me (Right)</button>
</app-custom-tooltip> -->


<!-- <app-custom-tooltip 
  [tooltipText]="'This is a tooltip'" 
  [placement]="'top'" 
  [marginTop]="'0px'" 
  [marginBottom]="'0px'" 
  [marginLeft]="'0px'" 
  [marginRight]="'0px'">
  <button class="btn btn-primary">Hover over me (Top)</button>
</app-custom-tooltip>


<app-custom-tooltip 
  [tooltipText]="'This is a tooltip'" 
  [placement]="'left'" 
  [marginTop]="'0px'" 
  [marginBottom]="'0px'" 
  [marginLeft]="'0px'" 
  [marginRight]="'0px'">
  <button class="btn btn-primary">Hover over me (Left)</button>
</app-custom-tooltip>

<app-custom-tooltip 
  [tooltipText]="'This is a tooltip'" 
  [placement]="'right'" 
  [marginTop]="'0px'" 
  [marginBottom]="'0px'" 
  [marginLeft]="'0px'" 
  [marginRight]="'0px'">
  <button class="btn btn-primary">Hover over me (Right)</button>
</app-custom-tooltip>

<app-custom-tooltip 
  [tooltipText]="'This is a tooltip'" 
  [placement]="'bottom'" 
  [marginTop]="'0px'" 
  [marginBottom]="'0px'" 
  [marginLeft]="'0px'" 
  [marginRight]="'0px'">

  <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
    Hover over me
  </button>
  
</app-custom-tooltip> -->



<!-- Example 1 -->
<!-- <button (click)="customModalOpen()">Open Custom Modal</button>


<app-custom-modal
  [open]="isModalOpen"
  [modalTitle]="modalTitle"
  (modalClose)="closeModal()"
>
  <p>This is a custom modal with dynamic content.</p>
</app-custom-modal> -->


<!-- Example 2 -->
<!-- <button (click)="customModalOpen()">Open Custom Modal</button>


<app-custom-modal
  [open]="isModalOpen"
  (modalClose)="closeModal()"
>
 
  <div modal-title>
    <h2>My Custom Modal Title</h2>
  </div>


  <div>
    <p>This is the modal content that can be dynamically inserted.</p>
  </div>


  <div modal-footer>
    <button (click)="closeModal()">Close</button>
  </div>
</app-custom-modal> -->



<!-- Example 3 -->
<!-- <button (click)="customModalOpen()">Open Custom Modal</button>


<app-custom-modal
  [open]="isModalOpen"
  (modalClose)="closeModal()"
>
 
  <div modal-title>
    <h2>My Custom Modal Title</h2>
  </div>


  <div modal-close>
    <button class="close-btn" (click)="closeModal()">X</button>
  </div>


  <div>
    <p>This is the modal content that can be dynamically inserted.</p>
  </div>


  <div modal-footer>
    <button (click)="closeModal()">Close</button>
  </div>
</app-custom-modal> -->



<!-- Button to trigger modal -->
<!-- <button (click)="customModalOpen()">Open Custom Modal</button>

<app-custom-modal
  [open]="isModalOpen"
  [width]="'60vw'"  
  [alignment]="'right'"
  (modalClose)="closeModal()"
>
  <div modal-title>
    <h2>My Left Aligned Modal</h2>
  </div>

  <div modal-close>
    <button class="close-btn" (click)="closeModal()">X</button>
  </div>

  <div>
    <p>This is some dynamic content inside the modal. You can add any content here.</p>
    <p>More content to show scrolling behavior when the content overflows...</p>
    <p>Even more content...</p>
    <p>This is some dynamic content inside the modal. You can add any content here.</p>
    <p>More content to show scrolling behavior when the content overflows...</p>
    <p>Even more content...</p>
    <p>This is some dynamic content inside the modal. You can add any content here.</p>
    <p>More content to show scrolling behavior when the content overflows...</p>
    <p>Even more content...</p>
    <p>This is some dynamic content inside the modal. You can add any content here.</p>
    <p>More content to show scrolling behavior when the content overflows...</p>
    <p>Even more content...</p>
    <p>This is some dynamic content inside the modal. You can add any content here.</p>
    <p>More content to show scrolling behavior when the content overflows...</p>
    <p>Even more content...</p>
    <p>This is some dynamic content inside the modal. You can add any content here.</p>
    <p>More content to show scrolling behavior when the content overflows...</p>
    <p>Even more content...</p>
    <p>This is some dynamic content inside the modal. You can add any content here.</p>
    <p>More content to show scrolling behavior when the content overflows...</p>
    <p>Even more content...</p>
    <p>This is some dynamic content inside the modal. You can add any content here.</p>
    <p>More content to show scrolling behavior when the content overflows...</p>
    <p>Even more content...</p>
    <p>This is some dynamic content inside the modal. You can add any content here.</p>
    <p>More content to show scrolling behavior when the content overflows...</p>
    <p>Even more content...</p>
    <p>This is some dynamic content inside the modal. You can add any content here.</p>
    <p>More content to show scrolling behavior when the content overflows...</p>
    <p>Even more content...</p>
    <p>This is some dynamic content inside the modal. You can add any content here.</p>
    <p>More content to show scrolling behavior when the content overflows...</p>
    <p>Even more content...</p>
    <p>This is some dynamic content inside the modal. You can add any content here.</p>
    <p>More content to show scrolling behavior when the content overflows...</p>
    <p>Even more content...</p>
    <p>This is some dynamic content inside the modal. You can add any content here.</p>
    <p>More content to show scrolling behavior when the content overflows...</p>
    <p>Even more content...</p>
    <p>This is some dynamic content inside the modal. You can add any content here.</p>
    <p>More content to show scrolling behavior when the content overflows...</p>
    <p>Even more content...</p>
    <p>This is some dynamic content inside the modal. You can add any content here.</p>
    <p>More content to show scrolling behavior when the content overflows...</p>
    <p>Even more content...</p>

  </div>
  <div modal-footer>
    <button (click)="closeModal()">Close</button>
  </div>
</app-custom-modal> -->

<app-progress-indicator
  [steps]="['Step 1', 'Step 2', 'Step 3', 'Step 4']"
  [current]="currentStep"
  [spacing]="'equal'"
  (stepSelected)="onStepSelected($event)"
></app-progress-indicator>




























