.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex;
    justify-content: flex-start; /* Align modal to the left */
    align-items: flex-start; /* Align the modal vertically from the top */
    z-index: 1000; /* Ensure it is on top */
  }
  
  .modal-container {
    background-color: white;
    border-radius: 8px;
    width: 100%; /* Default to 100%, dynamic width will be applied from parent */
    height: 100vh; /* Set modal height to 100% of the viewport height */
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    height: 50px; /* Fixed height for the header */
  }
  
  .modal-body {
    padding: 10px 0;
    flex-grow: 1; /* Allow the body to take available space */
    max-height: calc(100vh - 150px); /* Full height minus header and footer */
    overflow-y: auto; /* Enable scrolling if content overflows */
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    height: 50px; /* Fixed height for the footer */
  }
  
  .modal-footer button {
    padding: 10px 20px;
    background-color: #0072c6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .modal-footer button:hover {
    background-color: #005b99;
  }
  