<div class="color-picker-container">
    <!-- Title -->
    <label class="color-title">Color Picker</label>
  
    <!-- Color Options -->
    <div class="color-options">
      <!-- Predefined Colors -->
      <div 
        *ngFor="let color of colors" 
        class="color-circle"
        [ngStyle]="{'background-color': color}"
        [class.selected]="selectedColor === color"
        (click)="selectColor(color)">
      </div>
  
      <!-- Custom Color Picker -->
      <div class="custom-color-container">
        <input 
          type="color" 
          [value]="customColor" 
          (input)="onCustomColorChange($event)">
        <span>{{ customColor }}</span>
      </div>
    </div>
  </div>
  