<ul>
    <!-- Root level -->
    <li>
      <!-- Recursive display of nested data -->
      <ul>
        <!-- If the data is an array, recursively display each item -->
        <li *ngIf="isArray(data)">
          <ul>
            <li *ngFor="let item of data">
              <app-tree-view
                [data]="item"
                [depthLimit]="depthLimit - 1"
              ></app-tree-view>
            </li>
          </ul>
        </li>
  
        <!-- If the data is an object, recursively display each key-value pair -->
        <li *ngIf="isObject(data)">
          <ul>
            <li *ngFor="let key of keys(data)">
              <!-- Toggle button beside the key -->
              <strong>
                <button (click)="toggleExpand()">
                  {{ expanded ? '[-]' : '[+]'}}
                </button>
                {{ key }}:
              </strong>
              
              <!-- Nested content appears only when expanded -->
              <app-tree-view
                *ngIf="expanded"
                [data]="data[key]"
                [depthLimit]="depthLimit - 1"
              ></app-tree-view>
            </li>
          </ul>
        </li>
      </ul>
  
      <!-- Display plain text if it's not expandable -->
      <ng-container *ngIf="!isExpandable(data)">
        {{ data }}
      </ng-container>
    </li>
  </ul>
  