<div class="custom-table-container">
    <table class="custom-table">
      <thead>
        <tr>
          <!-- If there's only one header, span across all columns -->
          <th *ngIf="headers.length === 1" [attr.colspan]="headers.length" class="header-cell single-header">
            {{ headers[0] }}
          </th>
          
          <!-- If there are multiple headers, render each header separately -->
          <ng-container *ngIf="headers.length > 1">
            <th *ngFor="let header of headers" class="header-cell">
              {{ header }}
            </th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rows">
          <td *ngFor="let key of objectKeys(row)">
            {{ row[key] || 'No Data' }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  