<table class="custom-table">
    <thead>
      <tr>
        <!-- Dynamically render headers -->
        <th *ngFor="let header of headers">{{ header }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of rows">
        <!-- Dynamically render each cell for each key in row object -->
        <td *ngFor="let key of objectKeys(row)">
          <!-- Check if the value is an object -->
          <ng-container *ngIf="isObject(row[key]); else showData">
            <!-- If it's an object, display its stringified version -->
            {{ stringifyObject(row[key]) }}
          </ng-container>
          <ng-template #showData>
            <!-- If it's not an object, display the data directly -->
            {{ row[key] || 'No Data' }}
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
  