.content-switcher {
    display: flex;
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 4px;
    width: fit-content;
  
    button {
      border: none;
      background: transparent;
      padding: 10px 20px;
      cursor: pointer;
      font-size: 14px;
      color: #525252;
      transition: all 0.3s ease-in-out;
  
      &:hover {
        background: #e0e0e0;
      }
  
      &.active {
        background: #0f62fe;
        color: white;
        border-radius: 6px;
      }
    }
  }
  