.pagination-container {
  display: flex;
  gap: 5px;
  align-items: center;
  position: relative;
}

button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: white;
}

button.active {
  background-color: teal;
  color: white;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.dots-container {
  position: relative;
  display: inline-block;
}

.dots {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  padding: 5px;
  display: flex;
  flex-direction: column;
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
  min-width: 50px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: top 0.2s;
}

.dropdown div {
  padding: 5px;
  cursor: pointer;
}

.dropdown div:hover {
  background: lightgray;
}
